* {
   font-family: sans-serif; 
}

h1 {
    margin-left: 10px;
}

p {
    margin-left: 10px; 
}

button:hover {
    cursor: pointer;
}

#startBtn {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 16px;
    margin: 4px 10px 50px;
    border-radius: 5px;   
}

#timer {
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.quiz_box {
    width: 800px;
    height: 600px;
    border: 5px black;
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 10px;
    margin: 10px;       
}
.question{
    font-size: 25px;
    font-weight: 600;
}
.options{
    padding: 20px 0px;
    display: block;   
}

