* {
   font-family: sans-serif; 
}

h1 {
    margin-left: 10px;
}

p {
    margin-left: 10px; 
}

button:hover {
    cursor: pointer;
}

#startBtn {
    background-color: #468aca;
    border-radius: 5px;
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 16px;
    margin: 4px 10px 50px;
    border-radius: 5px;   
}

#timer {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 20px;
}

.quiz_box {
    width: 900px;
    height: 600px;
    border: 5px black;
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 10px;
    margin: 10px;       
}
.question{
    font-size: 25px;
    font-weight: 600;
}

div.options {
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    margin-bottom: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;  
}

#nextBtn {
    background-color:#468aca;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    float: right;
}

.card {
    background-color: #fff;
    border-radius: 5px;
    margin: 2%;
    margin-top: 36%;
    padding: 10px;
    width: 45%;
    display: inline-block; 
}

.cardResults {
    background-color: #fff;
    border-radius: 5px;
    margin: 2%;
    margin-top: 36%;
    padding: 10px;
    width: 5%;
    display: flex;
    float: right; 
}
  

#submitBtn {
    background-color:#468aca;
    border-radius: 5px;
    color: black;
    cursor: pointer;
    font-size: 20px;
    padding: 10px 10px;
    text-align: center;
    float: right;
}